.DS_Store
.local/
.home/
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/
.coverage
coverage/
dist/
build/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.test
bin/
out/
.build/
DerivedData/
broadcast/
cache/
lib/
obj/
packages/contracts/cache/
packages/contracts/out/
uv.lock
